<template>
  <Console/>
</template>

<script>
import Console from './components/Console.vue'

export default {
  name: 'App',
  components: {
    Console
  }
}
</script>

<style>
html, body {
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}
</style>
