<template>
    <el-form :model="query" inline>
        <el-form-item label="菜单名称">
            <el-input v-model="query.description" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="菜单状态">
            <el-select v-model="query.status" placeholder="请选择" clearable>
                <el-option label="正常" value="0"></el-option>
                <el-option label="禁用" value="1"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button size="mini" type="primary" @click="getMenus(true)">查询</el-button>
            <el-button size="mini" @click="init">重置</el-button>
        </el-form-item>
    </el-form>

    <div><el-button size="mini" icon="el-icon-plus" @click="openDialog('add')">新增</el-button></div>

    <el-table :data="tableData" row-key="id" empty-text="暂无数据" style="width: 100%" :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
        <el-table-column class="item" label="名称" width="200px">
            <template #default="scope">
                <span class="span-holder" v-if="scope.row.parentId === 0 && scope.row.children.length === 0"></span>
                {{scope.row.description}}
            </template>
        </el-table-column>
        <el-table-column label="图标">
            <template #default="scope">
                <i :class="scope.row.icon"></i>
            </template>
        </el-table-column>
        <el-table-column prop="orderNum" label="排序"></el-table-column>
        <el-table-column prop="permission" label="权限标识"></el-table-column>
        <el-table-column prop="route" label="路由"></el-table-column>
        <el-table-column label="类型" width="80px">
            <template #default="scope">
                <el-tag v-if="scope.row.type === 'D'" type="warning" size="mini" effect="dark">目录</el-tag>
                <el-tag v-else-if="scope.row.type === 'M'" type="success" size="mini" effect="dark">菜单</el-tag>
                <el-tag v-else type="info" size="mini" effect="dark">按钮</el-tag>
            </template>
        </el-table-column>
        <el-table-column label="状态" width="80px">
            <template #default="scope">
                <el-tag size="small" v-if="scope.row.status === '0'"  type="success">启用</el-tag>
                <el-tag size="small" v-else type="danger">禁用</el-tag>
            </template>
        </el-table-column>
        <el-table-column width="250px" header-align="center" align="center">
            <template #header>操作</template>
            <template #default="scope">
                <el-button size="mini" @click="openDialog('update', scope.row)">编辑</el-button>
                <el-button size="mini" @click="openDialog('add', scope.row)">新增</el-button>
                <el-button v-if="scope.row.status === '0'" size="mini" type="danger" @click="changeStatus(scope.row, '1')">禁用</el-button>
                <el-button v-else size="mini" type="success" @click="changeStatus(scope.row, '0')">启用</el-button>
            </template>
        </el-table-column>
    </el-table>

    <!-- 新增/修改对话框 -->
    <el-dialog v-model="visible" :title="title" destroy-on-close @closed="init">
        <CommonForm>
            <MenuAddUpdate ref="form" :data="data" :menus="tableData"></MenuAddUpdate>
        </CommonForm>
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="init">取 消</el-button>
                <el-button type="primary" @click="confirm">确 定</el-button>
            </span>
        </template>
    </el-dialog>
    
</template>

<script>
import * as menu from '@/api/menu'
import MenuAddUpdate from './MenuAddUpdate'
import CommonForm from '@/components/common/CommonForm'
import utils from '@/utils'

const dataStructure = {
    // no identifier
    parentId: 0,
    parentName: '根目录',
    permission: '',
    description: '',
    icon: '',
    type: 'D',
    orderNum: 0,
    isLink: '1',
    route: '',
    visible: '0',
    status: '0'
}

export default {
    name: "Menulist",
    data() {
      return {
        query: {
            description: '',
            status: ''
        },
        tableData: [],
        visible: false,
        type: 'add',
        title: '',
        data: {...dataStructure}
      }
    },
    created() {
        this.getMenus();
    },
    methods: {
        init() {
            this.query.description = '';
            this.query.status = '';
            this.visible = false;
            this.type = 'add';
            this.title = '';
            this.data = {...dataStructure};
        },
        openDialog(type, row) {
            this.type = type;
            if (type === 'add') {
                this.title = '新增菜单';
                if (row) {
                    this.data.parentId = row.id;
                    this.data.parentName = row.description;    
                }
            } else {
                this.title = '修改菜单';
                this.data = {...row};
            }
            this.visible = true;
        },
        confirm() {
            this.$refs.form.$refs.form.validate((valid, object) => {
                if (valid) {
                    this.type === 'add' ? this.addMenu() : this.updateMenu();
                    this.init();
                } else {
                    return false;
                }
            })
        },
        async getMenus(toast = false) {
            let response = await menu.getMenus(this.query);
            utils.response.handleResp(response, () => this.tableData = response.data, toast);
        },
        async addMenu() {
            console.log(this.data)
            let response = await menu.addMenu(this.data);
            utils.response.handleResp(response, this.getMenus);
        },
        async updateMenu() {
            let response = await menu.updateMenu(this.data);
            utils.response.handleResp(response, this.getMenus);
        },
        async changeStatus(data, status) {
            let request = {...data, status};
            let response = await menu.updateMenu(request);
            utils.response.handleResp(response, this.getMenus);
        }
    },
    components: {
        CommonForm,
        MenuAddUpdate
    }
}
</script>
<style>
.el-dialog__body {
    padding: 30px 25px;
    color: #606266;
    font-size: 14px;
    word-break: break-all;
}
.span-holder {
    display: inline-block;
    width: 20px;
    line-height: 20px;
    height: 20px;
    text-align: center;
    margin-right: 3px;
}
.el-table__placeholder {
    margin-right: 3px;
}
</style>