<template v-slot>
    <el-form ref="form" :model="data" :rules="rules" inline>
        <el-form-item class="form-all-line" label="上级菜单">
            <CommonSelectTree :datas="menus" :default-data="{label: data.parentName, value: data.parentId}" @selected="changeParent"></CommonSelectTree>
        </el-form-item>
        <el-form-item class="form-all-line" style="height: 40px;" label="菜单图标">
            <el-input placeholder="请选择图标" v-model="data.icon" readonly @click="showIcons = true">
                <template #prefix><i :class="`el-input__icon ${data.icon || 'el-icon-setting'}`"></i></template>
                <template #suffix>
                    <i class="el-input__icon el-icon-close" @click="data.icon = ''"></i>
                    <i class="el-input__icon el-icon-minus" @click="showIcons = false"></i>
                </template>
            </el-input>
            <div class="icon-list" :style="iconStyle">
                <CommonIcon v-for="icon in icons" :key="icon" :icon="icon" @selected="changeIcon"></CommonIcon>
            </div>
        </el-form-item>
        <el-form-item class="form-harf-line" label="菜单类型">
            <el-radio-group v-model="data.type" size="mini">
                <el-radio-button label="D">目录</el-radio-button>
                <el-radio-button label="M">菜单</el-radio-button>
                <el-radio-button label="B">按钮</el-radio-button>
            </el-radio-group>
        </el-form-item>
        <el-form-item class="form-harf-line" label="路由地址" :required="isMenu" prop="route">
            <el-input v-model="data.route" autocomplete="off" :disabled="!isMenu"></el-input>
        </el-form-item>
        <el-form-item class="form-harf-line" label="权限标识" required prop="permission">
            <el-input v-model="data.permission" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item class="form-harf-line" required label="菜单描述" prop="description">
            <el-input v-model="data.description" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item class="form-harf-line" label="是否链接">
            <div>
                <el-radio v-model="data.isLink" label="0">是</el-radio>
                <el-radio v-model="data.isLink" label="1">否</el-radio>
            </div>
        </el-form-item>
        <el-form-item class="form-harf-line" label="显示排序">
            <el-input-number v-model="data.orderNum" controls-position="right" :min="1"></el-input-number>
        </el-form-item>
        <el-form-item class="form-harf-line" label="显示状态">
            <div>
                <el-radio v-model="data.visible" label="0">显示</el-radio>
                <el-radio v-model="data.visible" label="1">隐藏</el-radio>
            </div>
        </el-form-item>
        <el-form-item class="form-harf-line" label="菜单状态">
            <div>
                <el-radio v-model="data.status" label="0">正常</el-radio>
                <el-radio v-model="data.status" label="1">停用</el-radio>
            </div>
        </el-form-item>
    </el-form>
</template>

<script>
import CommonSelectTree from '@/components/common/CommonSelectTree';
import bicons from '@/assets/icons.min.json';
import CommonIcon from '@/components/common/CommonIcon';

export default {
    name: 'MenuAddUpdate',
    props: ['data', 'menus'],
    data() {
        return {
            // menus: menus,
            copyRoute: this.data.route,
            icons: [],
            showIcons: false,
            rules: {
                permission: [{ validator: (rule, value, cb) => {
                    if (!value) return cb(new Error('权限标识为必填项'));
                    cb();
                }, trigger: 'blur' }],
                description: [{ validator: (rule, value, cb) => {
                    if (!value) return cb(new Error('描述为必填项'));
                    cb();
                }, trigger: 'blur' }],
                route: []
            }
        }
    },
    created() {
        this.data.parentName ||= '根目录';
        Object.values(bicons).forEach(value => {
            this.icons.push(...value);
        });
    },
    updated() {
        this.showIcons = false;
    },
    computed: {
        isMenu() {
            return this.data.type === 'M';
        },
        iconStyle() {
            return this.showIcons ? 'display: block;' : 'display: none;';
        }
    },
    watch: {
        'isMenu': function (val, oVal) {
            if (val) {
                this.data.route = this.copyRoute;
                this.rules.route = [{ validator: (rule, value, cb) => {
                    if (!value) return cb(new Error('路由为必填项'));
                    cb();
                }, trigger: 'blur' }];
            } else {
                this.data.route = '';
                this.rules.route = [];
                this.$refs.form.clearValidate("route");
            }
        }
    },
    methods: {
        changeParent(data) {
            this.data.parentId = data.id;
            this.data.parentName = data.description;
        },
        changeIcon(icon) {
            this.data.icon = icon;
            this.showIcons = false;
        }
    },
    components: {
        CommonSelectTree, CommonIcon
    }
}
</script>

<style scoped>
.icon-list {
    max-height: 200px;
    position: relative;
    top: 10px;
    overflow-y: auto;
    z-index: 100;
    background: #fff;
    border: 1px solid #DCDFE6;
    border-radius: 5px;
    float: unset;
    overflow-y: scroll;
}
</style>