<template>
  <el-container class="console-container">
    <Aside/>
    <Header/>
    <el-main class="console-main">
      <router-view></router-view>
      <!-- <div style="height: 1600px; background: white;">
        <Userlist/>
      </div> -->
    </el-main>
  </el-container>
</template>

<script>
import Aside from './console/Aside'
import Header from './console/Header'

export default {
  name: 'Console',
  components: {
    Aside, Header
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.console-container {
    min-height: calc(100vh - 60px);
    width: 100%;
}
.console-main {
    margin: 60px 0 0 200px;
}
</style>
