<template>
    <el-aside class="aside">
    <div class="aside-logo"><img src="../../assets/logo.png" style="height: 60px;"></div>
    <el-menu class="aside-menu" unique-opened :default-active="'2'" background-color="#3c3c3c" text-color="#fff" router>
        <Menu v-for="menu in menuData" :key="menu.id" :menu="menu"/>
    </el-menu>
    </el-aside>
</template>

<script>
import Menu from './Menu.vue'
import * as menus from '../../api/menu'

export default {
  data() {
      return {
          menuData: []
      }
  },
  async created() {
      const resp = await menus.getUserMenus(1);
      this.menuData = resp.data;
  },
  components: {
    Menu
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.aside {
  width: 200px!important;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  background: #3c3c3c;
}
.aside::-webkit-scrollbar {
  display: none;
    width: 4px;
}
.aside-logo {
    display: inline-block;
    width: 200px;
    height: 60px;
    text-align: center;
    background: #3c3c3c;
}
</style>
