<template>
    <el-header class="header">
        <div class="right-area">
        <i class="el-icon-question"></i>
        <i class="el-icon-message-solid"></i>
        <i class="el-icon-share"></i>
        <i class="el-icon-s-promotion"></i>
        <el-dropdown trigger="click" style="top: -2px;">
            <span class="el-dropdown-link">
            <el-avatar class="header-avatar" style="float: left;" shape="square" :size="50" :src="avatar"></el-avatar>
            <span class="header-name">燕聪聪</span>
            </span>
            <template #dropdown>
            <el-dropdown-menu>
                <el-dropdown-item>修改密码</el-dropdown-item>
                <el-dropdown-item divided>退出登陆</el-dropdown-item>
            </el-dropdown-menu>
            </template>
        </el-dropdown>
        </div>
    </el-header>
</template>

<script>
export default {
  data() {
      return {
          avatar: require('../../assets/avatar.jpg'),
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header {
    background: white;
    border-bottom: gainsboro 1px solid;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    height: 61px;
    z-index: 1;
    text-align: right;
    padding-right: 10px;
}
.header .left-area {
  width: 70%;
  float: left;
  height: 100%;
}
.header .right-area {
  width: 30%;
  float: right;
  height: 100%;
}
.header .right-area [class^=el-icon-] {
    display: inline-block;
    height: 60px;
    line-height:60px;
    padding: 0 8px;
}
.header-avatar {
  margin: 5px 5px 5px 5px;
}
.header-name {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
}
.header-other {
    display: inline-block;
    width: calc(100% - 200px);
    height: 60px;
    text-align: right;
}
</style>
