<template>
  <el-submenu v-if="menu.type === 'D'" :index="`${menu.id}`">
      <template #title>
          <i v-if="menu.icon" :class="`icon ${menu.icon}`"></i>
          <span v-else class="menu-placeholder"></span>
          <span>{{ menu.description }}</span>
      </template>
      <Menu v-for="child in menu.children" :key="child.id" :menu="child" />
  </el-submenu>
  <el-menu-item v-else-if="menu.type === 'M'" :index="`${menu.id}`" :route="menu.route">
      <i v-if="menu.icon" :class="menu.icon"></i>
      <span v-else class="menu-placeholder"></span>
      <template #title>{{ menu.description }}</template>
  </el-menu-item>
</template>

<script>
import Menu from './Menu.vue'

export default {
    name: 'Menu',
    props: ['menu'],
    created() {
        // console.log(this.menu)
    },
    components: {
        Menu
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.el-submenu {
    width: 100%;
    /* height: calc(100vh - 60px); */
    border-right: #3c3c3c 1px solid;
}
.menu-placeholder {
    width: 24px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
}
.el-submenu >>> .icon {
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
}
</style>
