<template>
    <el-form :model="query" inline>
        <el-form-item label="用户名称">
            <el-input v-model="query.username" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button size="mini" type="primary" @click="getUsers">查询</el-button>
            <el-button size="mini" @click="init">重置</el-button>
        </el-form-item>
    </el-form>

    <div><el-button size="mini" icon="el-icon-plus" @click="openDialog('add')">新增</el-button></div>

    <el-table :data="tableData" empty-text="暂无数据" style="width: 100%">
        <el-table-column prop="username" label="用户名"></el-table-column>
        <el-table-column prop="telephone" label="手机号"></el-table-column>
        <el-table-column prop="createTime" label="创建日期"></el-table-column>
        <el-table-column prop="status" label="状态">
            <template #default="scope">
                <el-tag size="small" v-if="scope.row.status === '0'"  type="success">启用</el-tag>
                <el-tag size="small" v-else type="danger">禁用</el-tag>
            </template>
            
        </el-table-column>
        <el-table-column min-width="100px" header-align="center" align="center">
            <template #header>操作</template>
            <template #default="scope">
                <el-button v-if="scope.row.status === '0'" size="mini" type="danger" @click="changeStatus(scope.row, '1')">禁用</el-button>
                <el-button v-else size="mini" type="success" @click="changeStatus(scope.row, '0')">启用</el-button>
                <el-dropdown size="mini" split-button trigger="click">
                    更多
                    <template #dropdown>
                        <el-dropdown-menu>
                            <el-dropdown-item>修改手机号</el-dropdown-item>
                            <el-dropdown-item divided>角色配置</el-dropdown-item>
                            <el-dropdown-item divided>重置密码</el-dropdown-item>
                        </el-dropdown-menu>
                    </template>
                </el-dropdown>
            </template>
        </el-table-column>
    </el-table>

    <!-- 新增/修改对话框 -->
    <el-dialog v-model="visible" :title="title" destroy-on-close @closed="init">
        <CommonForm>
            <UserAdd ref="form" :data="data"></UserAdd>
        </CommonForm>
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="init">取 消</el-button>
                <el-button type="primary" @click="confirm">确 定</el-button>
            </span>
        </template>
    </el-dialog>
    
</template>

<script>
import * as user from '@/api/user'
import utils from '@/utils'
import CommonForm from '@/components/common/CommonForm'
import UserAdd from './UserAdd'

const dataStructure = {
    // no identifier
    username: '',
    password: '',
    confirmPass: '',
    telephone: '',
    status: '0'
}

export default {
    name: "Userlist",
    data() {
      return {
        query: {
            username: ''
        },
        tableData: [],
        visible: false,
        type: 'add',
        title: '',
        data: {...dataStructure}
      }
    },
    created() {
        this.getUsers();
    },
    methods: {
        init() {
            this.query.username = '';
            this.visible = false;
            this.type = 'add';
            this.title = '';
            this.data = {...dataStructure};
        },
        openDialog(type, row) {
            this.type = type;
            if (type === 'add') {
                this.title = '新增用户';
                if (row) {
                    this.data.parentId = row.id;
                    this.data.parentName = row.description;    
                }
            } else {
                this.title = '修改用户信息';
                this.data = {...row};
            }
            this.visible = true;
        },
        confirm() {
            this.$refs.form.$refs.form.validate((valid, object) => {
                if (valid) {
                    this.addUser();
                    this.init();
                } else {
                    return false;
                }
            })
        },
        async getUsers(toast = false) {
            let response = await user.getUsers(this.query);
            utils.response.handleResp(response, () => this.tableData = response.data, toast);
        },
        async addUser() {
            let response = await user.addUser(this.data);
            utils.response.handleResp(response, this.getUsers);
        },
        async changeStatus(data, status) {
            let request = {...data, status};
            let response = await user.updateUser(request);
            utils.response.handleResp(response, this.getUsers);
        }
    },
    components: {
        CommonForm, UserAdd
    }
}
</script>
<style>
.el-dropdown {
    margin-left: 10px;
}
</style>