<template v-slot>
    <el-form ref="form" :model="data" :rules="rules" inline>
        <el-form-item class="form-all-line" required label="用户名" prop="username">
            <el-input v-model="data.username" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item class="form-all-line" required label="密码" prop="password">
            <el-input v-model="data.password" show-password autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item class="form-all-line" required label="确认密码" prop="confirmPass">
            <el-input v-model="data.confirmPass" show-password autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item class="form-all-line" required label="手机号" prop="telephone">
            <el-input v-model.number="data.telephone" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item class="form-all-line" required label="用户状态">
            <div>
                <el-radio v-model="data.status" label="0">正常</el-radio>
                <el-radio v-model="data.status" label="1">禁用</el-radio>
            </div>
        </el-form-item>
    </el-form>
</template>

<script>
export default {
    name: 'UserAddUpdate',
    props: ['data'],
    data() {
        var confirmPass = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('请再次输入密码'));
            } else if (value !== this.data.password) {
                callback(new Error('两次输入密码不一致!'));
            } else {
                callback();
            }
        };
        return {
            rules: {
                username: [{ validator: (rule, value, cb) => {
                    if (!value) return cb(new Error('用户名为必填项'));
                    cb();
                }, trigger: 'blur' }],
                password: [{ validator: (rule, value, cb) => {
                    if (!value) return cb(new Error('密码为必填项'));
                    cb();
                }, trigger: 'blur' }],
                confirmPass: [{ validator: confirmPass, trigger: 'blur' }],
                telephone: [{ validator: (rule, value, cb) => {
                    if (!value) return cb(new Error('描述为必填项'));
                    cb();
                }, trigger: 'blur' }]
            }
        }
    }
}
</script>