<template>
    <el-table :data="tableData" empty-text="暂无数据" style="width: 100%">
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column prop="id" label="id" width="55"></el-table-column>
        <el-table-column prop="name" label="角色名"></el-table-column>
        <el-table-column prop="description" label="描述"></el-table-column>
        <el-table-column prop="createTime" label="创建日期"></el-table-column>
        <el-table-column prop="status" label="状态">
            <template #default="scope">
                <el-tag size="small" v-if="scope.row.status === '0'"  type="success">启用</el-tag>
                <el-tag size="small" v-else type="danger">禁用</el-tag>
            </template>
            
        </el-table-column>
        <el-table-column min-width="100px" header-align="center" align="center">
            <template #header>操作</template>
            <template #default="scope">
                <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
</template>

<script>
import * as role from '@/api/role'

export default {
    name: "Rolelist",
    data() {
      return {
        tableData: []
      }
    },
    async created() {
        let data = await role.getRoles();
        this.tableData = data.data;
    },
    methods: {
    }
}
</script>
<style>

</style>