<template>
     <i :class="`micon ${icon}`" @click="onClick"></i>
</template>

<script>
export default {
    name: "CommonIcon",
    props: ['icon'],
    methods: {
        onClick() {
            this.$emit('selected', this.icon);
        }
    }
}
</script>

<style scoped>
.micon {
    margin: 4px;
    cursor: pointer;
}
</style>