<template>
    <el-select v-model="defaultData.value" placeholder="请选择" :popper-append-to-body="false">
        <el-option ref="option" :label="defaultData.label" :value="defaultData.value || 0">
            <el-tree :data="treeData" :props="defaultProps" @node-click="changeNode" accordion></el-tree>
        </el-option>
  </el-select>
</template>

<script>
export default {
    name: "CommonSelectTree",
    props: ['defaultData', 'datas'],
    data() {
        return {
            treeData: [],
            defaultProps: {
                label: 'description',
                children: 'children'
            }
        }
    },
    methods: {
        changeNode(data) {
            this.defaultData.label = data.description;
            this.defaultData.value = data.id;
            this.$emit('selected', data);
            this.$refs.option.selectOptionClick();
        }
    },
    created() {
        this.treeData = [{
            id: 0,
            description: '根目录',
            children: this.datas
        }]
    }
}
</script>

<style scoped>
.el-select >>> .el-select-dropdown {
    max-height: 300px;
}
.el-select >>> .el-select-dropdown__item {
    height: auto;
    padding: 0px;
    margin: 0 20px;
}
</style>