<template>
    <!-- 
        el-form-item类选择器及其作用：
        1、form-all-line：content占据行的剩余长度(除label外)
        2、form-harf-line：content占据半行的剩余长度(除label外)
     -->
     <div><slot></slot></div>
</template>

<script>
export default {
    name: "CommonForm"
}
</script>

<style scoped>
div >>> .el-form-item {
    margin-right: 0px;
}
div >>> .el-form .el-form-item__label {
    width: 80px;
    text-align: right;
    font-size: 13px;
    font-weight: 800;
}
div >>> .el-form .el-form-item__content {
    width: calc(100% - 90px);
}
div >>> .el-form .el-form-item__content > * {
    width: 100%;
}
div >>> .form-all-line {
    display: block;
}
div >>> .form-harf-line {
    width: 50%;
}
</style>